

<header class="header-image" style="margin-top: -50px">
    <div class="headline">
        <div class="container">
            <h2 style="font-family: 'Indie Flower', cursive;">Svara</h2>
            <h3 style="font-family: 'Indie Flower', cursive;">SØK PÅ HVA DU TRENGER HJELP PÅ ELLER INFORMASJON </h3>
            
        </div>
    </div>
</header>