

<header class="header-image">
    <div class="headline">
        <div class="container">
            <h2>Svara</h2>
            <h3>SØK PÅ HVA DU TRENGER HJELP PÅ ELLER INFORMASJON </h3>
            
        </div>
    </div>
</header>